
<div class="d-flex flex-row bd-highlight mb-3 justify-content-around">
  
  <div class="p-2 bd-highlight flex-column">
    <div class="firstbox">
    </div>
    
    <div class="ffirstbox">
      
    </div>

  
  </div>
  
  <div class="p-2 bd-highlight flex-column">
    <div class="secondbox">

    </div>
    <div class="ssecondbox">

    </div>
    
  </div>
 
  <div class="p-2 bd-highlight flex-column">
    <div class="thirdbox">
    </div>
    <div class="tthirdbox">
      
    </div>
    
  </div>
</div>

