@import 'bootstrap';

.p-2{
    border-color: black;
    border-style: solid;
    border-radius: 8px;
}

.firstbox {
    content: url('food.jpg');
    display:flex;  
    height: 300px;
    width: 300px;
    
}

.ffirstbox{
    display: flex;
}

.secondbox {
    content: url('신발.jpg');
    display:flex;    
    height: 300px;
    width:300px;
}

.thirdbox {
    content: url('옷.jpg');
    display:flex;  
    height: 300px;
    width: 300px; 
    
}
.p-2{
    margin-top: 20px;
}

